{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="card">
  <div class="card__teaser">
    <img src="{{ teaser }}">
  </div>
  <div class="card__body">
    <h4 class="card__heading">
      <a href="{{ post.url | absolute_url }}">{{ title }}</a>
    </h4>
    <p>{{ post.excerpt }}</p>
  </div>
</div>
