.card-list__title {
  margin: 2em;
  border-bottom: 1px solid $border-color;
}


a.fill-div {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.card__wrapper {
  @include clearfix();
  margin: 2em;
}

.card {
  padding: 15px;
  border: 1px solid $light-gray;
  border-radius: 4px;
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.125);
  overflow: visible;
  margin: 2em auto;
  position: relative;
  
  @include breakpoint(max-width ($small - 1px)) {
    height: 400px;
    max-width: 357px;
  }
}

.card:hover {
  box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.125);
}

.card__teaser {
  // width: 30%;
  display: inline-block;
  max-width: 30%;
  
  @include breakpoint(max-width ($small - 1px)) {
    max-width: 327px;
  }

}

.card__body {
  display: inline-block;
  padding: 0px 10px;
  position: absolute;
  margin-left: 10px;
  
  @include breakpoint(max-width ($small - 1px)) {
    position: relative;
    margin-top: 15px;
    margin-left: 0;
    padding-left: 0;
  }
  
  p {
    margin: 10px 0;
  }
}

.card__heading {
  font-size: 18px;
  margin: 0;
  text-decoration: underline;
}
