.card__wrapper {
  @include clearfix();
  margin-bottom: 2em;
}

.card {
  padding: 10px;
  border: 1px solid $light-gray;
  border-radius: 4px;
  box-shadow: $box-shadow;
  overflow: visible;
  margin-bottom: 2em;
  position: relative;
  
  @include breakpoint(max-width ($small - 1px)) {
    height: 400px;
  }
  
}

.card__teaser {
  // width: 30%;
  display: inline-block;
  max-width: 30%;
  
  @include breakpoint(max-width ($small - 1px)) {
    max-width: 327px;
  }

}


.card__body {
  // width: 70%;
  display: inline-block;
  padding-left: 10px;
  position: absolute;
  margin: 0;
  
  @include breakpoint(max-width ($small - 1px)) {
    position: relative;
    margin-top: 15px;
    padding-left: 0;
  }
}

.card__heading {
  font-size: 18px;
  margin: 0;
}
